<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mt-5 d-flex justify-content-center">
        <h1>Update</h1>
        <form action="" method="post" class="border shadow" enctype="multipart/form-data">

            {%if  data.picture%}
               <img src="{{data.picture.url}}" alt="">
            {%endif%}
            {%csrf_token%}
            {{form.as_p}}
            <button class="btn btn-info" type="submit">
                submit
            </button>
        </form>
    </div>
</body>
</html>